<!-- INCLUDE overall_header.html -->
<form method="post" action="{S_SUBMIT_QUIZ_ACTION}">

<!-- IF U_UQM_DISPLAY_MESSAGE -->
<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<span>{U_UQM_DISPLAY_MESSAGE}</span>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_UQM_EDIT_QUIZ}</h3>
	
		<fieldset>
		<dl>
			<dt><span><strong>{L_UQM_ENTER_QUIZ_NAME}:</span></strong></dt>
			<dd><input type="text" name="quiz_name" value="{U_QUIZ_NAME}" /></dd>
		</dl>

		<dl>
			<dt>&nbsp;</dt>
			<dd>&nbsp;</dd>
		</dl>

		<dl>
			<dt><span><strong>{L_UQM_ENTER_QUIZ_CATEGORY}:</span></strong></dt>
			<dd>{U_QUIZ_CATEGORY_SELECT}</dd>
		</dl>

		<dl>
			<dt>&nbsp;</dt>
			<dd>&nbsp;</dd>
		</dl>

		<!-- IF U_TIME_LIMITS_ENABLED -->
		<dl>
			<dt><span><strong>{L_UQM_ENTER_TIME_LIMIT}</span></strong></dt>
			<dd>{U_MINUTES_SELECTION} &nbsp; {L_UQM_TIME_LIMIT_MINUTES} &nbsp;&nbsp;&nbsp; {U_SECONDS_SELECTION} &nbsp; {L_UQM_TIME_LIMIT_SECONDS}</dd>
		</dl>

		<dl>
			<dt>&nbsp;</dt>
			<dd>&nbsp;</dd>
		</dl>
		<!-- ENDIF -->
		<!-- BEGIN question_row -->
		<dl>
			<dt>
				<textarea cols="45" rows="2" name="question_name_{question_row.U_QUESTION_ID}">{question_row.U_QUESTION_NAME}</textarea>
			</dt>
			<dd>
				<!-- BEGIN answer_row -->
				<input type="radio" name="answer_{question_row.U_QUESTION_ID}" value="{question_row.answer_row.U_ANSWER_ID}" <!-- IF question_row.answer_row.U_CORRECT -->checked <!-- ENDIF -->/> <input type="text" name="user_answer_{question_row.U_QUESTION_ID}_{question_row.answer_row.U_ANSWER_ID}" value="{question_row.answer_row.U_ANSWER_NAME}" /><br />
				<!-- END answer_row -->
			</dd>
		</dl>

		<dl>
			<dt>&nbsp;</dt>
			<dd>&nbsp;</dd>
		</dl>
		<!-- END question_row -->

		<dl>
			<dt><span><strong>{L_UQM_DELETE_QUIZ}</strong><br />{L_UQM_DELETE_QUIZ_EXPLAIN}</span></dt>
			<dd><input type="checkbox" name="delete_quiz" /></dd>
		</dl>
		</fieldset>

		<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons"> 
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
