<!-- INCLUDE overall_header.html -->

<script>
	// Javascript functions to keep the countdown timer updating
	var display_seconds;
	var display_minutes;

	// Set the values from the PHP code
	var time_limits_enabled = {U_TIME_LIMIT_ENABLED};
	var seconds = {U_QUIZ_TIME_LIMIT};

	var running = true;

	// Disable counter updating if time limits are disabled for or all quizzes or just this quiz
	if (time_limits_enabled == 0 || seconds == null || seconds < 1)
	{
		running = false;
	}
	
	// Initialise the display values
	update_displays();

	// Calculate the number of minutes and seconds remaining
	function update_displays()
	{
		display_seconds = (seconds % 60);
		display_minutes = (seconds - display_seconds) / 60;
	}

	// Pad zeroes to the front of seconds less than 10 (ie. so 9 becomes 09, etc).
	function pad_seconds(unpadded_display_seconds)
	{
		var	padded_display_seconds = unpadded_display_seconds;

		if (unpadded_display_seconds <= 9)
		{
			padded_display_seconds = "0" + unpadded_display_seconds;
		}

		return padded_display_seconds;
	}

	// Update the counter every second
	setInterval(
		function()
		{
			// Only do anything if we are running
			if (running == true)
			{
				if (display_minutes == 0 && display_seconds < 1)
				{
					running = false;

					var confirm = window.confirm('{L_UQM_TIME_LIMIT_EXCEEDED_REDIRECT}');

					if (confirm)
					{
						// Redirect to index
						window.location = "{U_REDIRECT_QUIZ_INDEX}";
					}
				}

				else
				{
					document.getElementById('uqm_submit').value = display_minutes + ":" + pad_seconds(display_seconds);

					seconds--;
					update_displays();
				}
			}
		}, 
	1000
	);
</script>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h2>{U_QUIZ_NAME}</h2>
	<span>{U_POSTED_INFORMATION}</span>
	<span class="corners-bottom"><span></span></span></div>
</div>

<form method="post" action="{S_SUBMIT_QUIZ_ACTION}">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
		<!-- BEGIN question_row -->
		<dl>
			<dt>
				<span><strong>{question_row.U_QUESTION_NAME}</strong></span>
			</dt>
			<dd>
				<!-- BEGIN answer_row -->
					<input type="radio" name="answer_{question_row.U_QUESTION_ID}" value="{question_row.answer_row.U_ANSWER_ID}" /> {question_row.answer_row.U_ANSWER_NAME}<br />
				<!-- END answer_row -->
			</dd>
		</dl>
		<!-- END question_row -->
		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg3">
	<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset class="submit-buttons"> 
			{S_FORM_TOKEN}
			<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" id="uqm_submit" />
		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->
